{% extends  "layouts/admin.html" %}

{% load i18n %}
{% load compress %}
{% load staticfiles %}
{% load helper %}

{% block styles %}
    {% compress css %}
        <link rel="stylesheet" media="all" href="{% static "plugins/select2/select2.min.scss" %}" data-turbolinks-track="reload" type="text/x-sass" />
        <link rel="stylesheet" media="all" href="{% static "plugins/select2/select2-bootstrap.scss" %}" data-turbolinks-track="reload" type="text/x-sass" />
        <link rel="stylesheet" media="all" href="{% static "plugins/select2/pmd-select2.scss" %}" data-turbolinks-track="reload" type="text/x-sass" />
        <link rel="stylesheet" media="all" href="{% static "plugins/dropzone/dropzone.min.scss" %}" data-turbolinks-track="reload" type="text/x-sass" />
        <style>
        .qty-box {
          border: 1px solid #94c4ec;
          border-radius: 3px;
          display: block;
          height: 60px;
          margin: calc(50vh - 30px) auto 0 auto;
            width: 109px;
        }

        .dec,
        .inc,
        input.form-control.quantity {
          height: 100%;
          color: #009688;
          font-family: sans-serif;
          float: left;
          line-height: 60px;
          text-align: center;
          width: calc(107px/3) !important;
          -webkit-font-smoothing: antialiased;
        }
        .dec:hover,
        .inc:hover {
          cursor: pointer;
        }
        input.form-control.quantity {
            margin: 0 !important;
            -webkit-margin-after: 0 !important;
            text-indent: 6px !important;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }

    </style>
    {% endcompress %}
{% endblock %}

{% block scripts %}
    {% compress js %}
        <script type="text/javascript" src="{% static "plugins/select2/select2.full.min.js" %}"></script>
        <script type="text/javascript" src="{% static "plugins/dropzone/dropzone.min.js" %}"></script>
        <script type="text/javascript" src="{% static "plugins/cycle2/cycle2.js" %}"></script>
        <script type="text/javascript">
            var farmaciaInfo = "{{ farmacia_info }}";
            var farmaciaFrete = "{{ farmacia_info.valor_frete }}";
        </script>
        <script type="text/javascript">
            $(function(){
                $(".select-simple").select2({
                    theme: "bootstrap",
                    minimumResultsForSearch: Infinity,
                });
            });
            var farm_wsckt = parseInt('{{ request.session.auth_data.farmacia }}');
        </script>
        <script type="text/javascript" src="{% static "javascripts/main.js" %}"></script>
        <script type="text/javascript" src="{% static "javascripts/sales.js" %}"></script>
        <script type="text/javascript" src="{% static "plugins/select2/pmd-select2.js" %}"></script>
        <script type="text/javascript">
            {% for pedido in pedidos reversed%}
                {% if pedidos.forloop.first %}
                    append_card_pedido(JSON.parse('{{ pedido|jsonify }}'), false, true);
                {% else %}
                    append_card_pedido(JSON.parse('{{ pedido|jsonify }}'), false, false);
                {% endif %}
            {% endfor %}
        </script>
    {% endcompress %}
    {# <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script> #}
    {# <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script> #}
{% endblock %}

{% block rs_cards %}
    {% csrf_token %}
    <div id="sales">
        <div class="row01 container-fluid fz14 no-padding-xs bg-white mb32" style="height:90px;">
            <form action="#" class="row p15 no-margin-xs" role="form">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-2">
                            {# <div class="form-group pmd-textfield pmd-textfield-floating-label mb30 pr15 no-padding-xs"> #}
                            {# <label for="">Pesquisar</label> #}
                            {# <input class="form-control" placeholder="" type="text" /> #}
                            {# <span class="pmd-textfield-focused"></span> #}
                            {# </div> #}
                        </div>

                        <div style="display: none;">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label mb30 pr15 no-padding-xs">
                                    <label for="">Organizar por</label>
                                    <select id="order_proposal" class="select-simple form-control pmd-select2">
                                        <option value="-log__data_criacao">Recentes</option>
                                        <option value="log__data_criacao">Antigos</option>
                                    </select>
                                    <span class="pmd-textfield-focused"></span>
                                </div>
                            </div>
                        </div>
                        <div class="container-eq-card">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group pmd-textfield mb30 pr15 no-padding-xs">
                                    <label for="status">Status</label>
                                    <select id="filter_proposal" class="select-simple form-control pmd-select2">
                                        <option selected value="-1">Todos</option>
                                        <!-- <option selected value="0">Aberto</option> -->
                                        <option value="2">Aguardando envio da farmácia</option>
                                        <option value="3">Aguardando retirada do cliente</option>
                                        <option value="4">Enviado</option>
                                        <option value="5">Entregue</option>
                                        <option value="6">Cancelado pela farmácia</option>
                                        <option value="7">Cancelado pelo cliente</option>
                                        <option value="10">Negado</option>
                                        <option value="9">Tempo excedido</option>
                                    </select>
                                    <span class="pmd-textfield-focused"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# <div class="col-xs-12 col-sm-6 col-md-6 mt20"> #}
                {# <button class="btn-transparent-pink btn-flat right"> #}
                {# PESQUISAR #}
                {# </button> #}
                {# </div> #}

            </form>

        </div>

        <div class="container">
            <div id="sales" class="slideshow vertical"
                 data-cycle-fx=carousel
                 data-cycle-timeout=0
                 data-cycle-next="#to-next"
                 data-cycle-prev="#to-prev"
                 data-cycle-carousel-visible=5
                 data-cycle-carousel-vertical=true>
                <button id="to-prev" class="to-prev"></button>
                <button id="to-next" class="to-next"></button>

                <div class="row"></div>

            </div>
        </div>
    </div>
{%endblock%}
