{% extends  "layouts/admin.html" %}

{% load i18n %}
{% load compress %}
{% load staticfiles %}
{% load helper %}

{% block styles %}
    {% compress css %}
        <link rel="stylesheet" media="all" href="{% static "plugins/select2/select2.min.scss" %}" data-turbolinks-track="reload" type="text/x-sass" />
        <link rel="stylesheet" media="all" href="{% static "plugins/select2/select2-bootstrap.scss" %}" data-turbolinks-track="reload" type="text/x-sass" />
        <link rel="stylesheet" media="all" href="{% static "plugins/select2/pmd-select2.scss" %}" data-turbolinks-track="reload" type="text/x-sass" />
        <link rel="stylesheet" media="all" href="{% static "plugins/dropzone/dropzone.min.scss" %}" data-turbolinks-track="reload" type="text/x-sass" />
    {% endcompress %}
{% endblock %}

{% block scripts %}
    {% compress js %}
        <script type="text/javascript" src="{% static "plugins/select2/select2.full.min.js" %}"></script>
        <script type="text/javascript" src="{% static "plugins/dropzone/dropzone.min.js" %}"></script>
        <script type="text/javascript" src="{% static "plugins/cycle2/cycle2.js" %}"></script>
        <script type="text/javascript">
            $(function(){
                $(".select-simple").select2({
                    theme: "bootstrap",
                    minimumResultsForSearch: Infinity,
                });
            });
            var farm_wsckt = parseInt('{{ request.session.auth_data.farmacia }}');
        </script>
        <script type="text/javascript" src="{% static "javascripts/main.js" %}"></script>
        <script type="text/javascript" src="{% static "javascripts/sales.js" %}"></script>
        <script type="text/javascript" src="{% static "plugins/select2/pmd-select2.js" %}"></script>
        <script type="text/javascript">
            {% for pedido in pedidos reversed%}
                append_card_pedido(JSON.parse('{{ pedido|jsonify }}'));
            {% endfor %}
        </script>
    {% endcompress %}
    {# <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script> #}
    {# <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script> #}
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div id="sales">
        <div class="row01 container-fluid fz14 no-padding-xs bg-white mb32" style="height:90px;">
            <form action="#" class="row p15 no-margin-xs" role="form">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-2">
                            {# <div class="form-group pmd-textfield pmd-textfield-floating-label mb30 pr15 no-padding-xs"> #}
                            {# <label for="">Pesquisar</label> #}
                            {# <input class="form-control" placeholder="" type="text" /> #}
                            {# <span class="pmd-textfield-focused"></span> #}
                            {# </div> #}
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label mb30 pr15 no-padding-xs">
                                <label for="">Organizar por</label>
                                <select class="select-simple form-control pmd-select2">
                                    <option>TIPO 01</option>
                                    <option>TIPO 02</option>
                                    <option>TIPO 03</option>
                                </select>
                                <span class="pmd-textfield-focused"></span>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label mb30 pr15 no-padding-xs">
                                <label for="">Status</label>
                                <select class="select-simple form-control pmd-select2">
                                    <option          >ABERTO              </option>
                                    <option value="1">ACEITO                          </option>
                                    <option value="2">AGUARDANDO ENVIO DA FARMACIA    </option>
                                    <option value="3">AGUARDANDO RETIRADA DO CLIENTE  </option>
                                    <option value="4">ENVIADO                   	  </option>
                                    <option value="5">ENTREGUE                        </option>
                                    <option value="6">CANCELADO PELA FARMACIA    	  </option>
                                    <option value="7">CANCELADO PELO CLIENTE          </option>
                                    <option value="8">SEM_PROPOSTA                    </option>
                                    <option value="9">TIMEOUT                         </option>
                                </select>
                                <span class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                    </div>
                </div>

                {# <div class="col-xs-12 col-sm-6 col-md-6 mt20"> #}
                {# <button class="btn-transparent-pink btn-flat right"> #}
                {# PESQUISAR #}
                {# </button> #}
                {# </div> #}

            </form>

        </div>

        <div class="container">
            <div id="sales" class="slideshow vertical"
                 data-cycle-fx=carousel
                 data-cycle-timeout=0
                 data-cycle-next="#to-next"
                 data-cycle-prev="#to-prev"
                 data-cycle-carousel-visible=5
                 data-cycle-carousel-vertical=true
            >
                <button id="to-prev" class="to-prev"></button>
                <button id="to-next" class="to-next"></button>

            </div>
        </div>
    </div>
{%endblock%}
