{% extends  "layouts/admin.html" %}

{% load i18n %} 
{% load compress %}
{% load staticfiles %}

{% block styles %}
{% compress css %}
<link rel="stylesheet" media="all" href="{% static "plugins/select2/select2.min.scss" %}" data-turbolinks-track="reload" type="text/x-sass" />
<link rel="stylesheet" media="all" href="{% static "plugins/select2/select2-bootstrap.scss" %}" data-turbolinks-track="reload" type="text/x-sass" />
<link rel="stylesheet" media="all" href="{% static "plugins/select2/pmd-select2.scss" %}" data-turbolinks-track="reload" type="text/x-sass" />
<link rel="stylesheet" media="all" href="{% static "plugins/dropzone/dropzone.min.scss" %}" data-turbolinks-track="reload" type="text/x-sass" />
{% endcompress %}
{% endblock %}

{% block scripts %}
{% compress js %}
<script type="text/javascript" src="{% static "plugins/select2/select2.full.min.js" %}"></script>
<script type="text/javascript" src="{% static "plugins/dropzone/dropzone.min.js" %}"></script>
<script type="text/javascript">
	$(function(){
		$(".select-simple").select2({
			theme: "bootstrap",
			minimumResultsForSearch: Infinity,
		});
	});
</script>

<script type="text/javascript" src="{% static "plugins/select2/pmd-select2.js" %}"></script>
{% endcompress %}
{% endblock %}

{% block content %}
<div id="sales">
	<div class="row01 container-fluid fz14 no-padding-xs bg-white mb32">
		<form action="#" class="row p15 no-margin-xs" role="form">
			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group pmd-textfield pmd-textfield-floating-label mb30 pr15 no-padding-xs">
							<label for="">Pesquisar</label>
							<input class="form-control" placeholder="" type="text" />
							<span class="pmd-textfield-focused"></span>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group pmd-textfield pmd-textfield-floating-label mb30 pr15 no-padding-xs">
							<label for="">Organizar por</label>
							<select class="select-simple form-control pmd-select2">
								<option>TIPO 01</option>
								<option>TIPO 02</option>
								<option>TIPO 03</option>
							</select>
							<span class="pmd-textfield-focused"></span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-6 mt20">
				<button class="btn-transparent-pink btn-flat right">
					PESQUISAR
				</button>
			</div>

		</form>
		
	</div>

	<div class="container">
		<div id="sales" class="">
			{% for i in range %}

			<div class="card p15 mb20">
				<div class="container-fluid sale">

					<div class="row pt15 pb15 fz24">
						<div class="col-xs-12 col-sm-6 col-md-6 text-left">
							<p class="semibold">#123456789</p>
						</div>

						<div class="col-xs-12 col-sm-6 col-md-6 text-right">
							<p>Status: <span class="semibold green-text">Aguardando envio</span></p>
						</div>
					</div>

					<div class="row header hidden-sm hidden-xs">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<h5>Produto</h5>
						</div>

						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6 text-center">
									<h5>Quantidade</h5>
								</div>

								<div class="col-xs-6 col-sm-6 col-md-6">
									<h5>Preço</h5>
								</div>
							</div>
						</div>
					</div>

					<div class="row statusbar">
						<div class="col-xs-12 col-sm-12 col-md-6">
							<p class="pink-text">
								<span class="label block text-left">Data</span>
								Mar 12, 2017 12:30
							</p>
						</div>

						<div class="col-xs-12 col-sm-12 col-md-6">
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6 text-center">
									<span>x2</span>
								</div>

								<div class="col-xs-6 col-sm-6 col-md-6">
									<p>
										<span class="label block text-left">Total</span>
										R$ 9.999,00
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="row item">
						<div class="col-xs-12 col-sm-12 col-md-6">
							<div class="row">
								<div class="col-xs-3 col-sm-4 col-md-3">
									<img src="{% static "images/box.png" %}" alt="Bottle" class="img-responsive center" alt="Box"/>
								</div>

								<div class="col-xs-9 col-sm-8 col-md-9 pr0">
									<span class="name">Rosuvastatina Cálcica 10mg Genérico Sandoz do Brasil 30 comprimidos…</span>
									<span class="maker block pink-text hidden-xs">NEOQUIMICA</span>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-12 col-md-6">
							<div class="row vcenter">
								<div class="col-xs-6 col-sm-6 col-md-6 text-center">
									<span class="quantity">x2</span>
								</div>

								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="price">
										<span class="pink-text">R$ 999,99</span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row item">
						<div class="col-xs-12 col-sm-12 col-md-6">
							<div class="row">
								<div class="col-xs-3 col-sm-4 col-md-3">
									<img src="{% static "images/box.png" %}" alt="Bottle" class="img-responsive center" alt="Box"/>
								</div>

								<div class="col-xs-9 col-sm-8 col-md-9 pr0">
									<span class="name">Rosuvastatina Cálcica 10mg Genérico Sandoz do Brasil 30 comprimidos…</span>
									<span class="maker block pink-text hidden-xs">NEOQUIMICA</span>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-12 col-md-6">
							<div class="row vcenter">
								<div class="col-xs-6 col-sm-6 col-md-6 text-center">
									<span class="quantity">x1</span>
								</div>

								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="price">
										<span class="pink-text">R$ 999,99</span>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="row footer">
						<div class="col-xs-12 col-sm-12 col-md-6">
							<p>Para: <span class="pink-text">Henrique Loren Ipsun de Oliveira Carvalho</span></p>
						</div>

						<div class="col-xs-12 col-sm-12 col-md-6">
							<p>Endereço: 
								<span class="block">
									Rua Padre Malagrida Madre Loren Ipsun
									Quadra 17 Casa 14
									Renascença I, Teresina - Piaui
								</span>
							</p>
						</div>
					</div>

					<div class="row actions">
						<div class="col-xs-12 col-sm-12 col-md-12 text-right mt15 pr0 pr-xs-15">
							<button class="btn btn-transparent-pink pink-text btn-flat btn-lg">
								IMPRIMIR
							</button>

							<button class="btn btn-pink btn-flat btn-lg">
								ENVIAR
							</button>
						</div>
					</div>
				</div>
			</div>

			{% endfor %}
		</div>
	</div>
</div>
{%endblock%}