{% extends  "layouts/admin.html" %}

{% load compress %}
{% load staticfiles %}
{% load helper %}

{% block scripts %}
{% compress js %}
<script type="text/javascript">
    $("#select-control").change(function() {
        var selected = $(this).children("option:selected").text();
        let fmtSelected = selected.split(' ');
        let mounth = fmtSelected[0].toLowerCase();

        var urlString = window.location.href;
        var formatedURL = window.location.origin + window.location.pathname;

        if (mounth == "hoje") {
            window.location.replace(formatedURL);
        } else {
            let fmtSelected = selected.split(' ');
            let year = fmtSelected[1];

            var formatedURL = formatedURL + '?mes=' + mounth + '&ano=' + year;
            window.location.replace(formatedURL);
        }
    });
</script>

<script type="text/javascript">
    function getParam(param){
        return new URLSearchParams(window.location.search).get(param);
    }

    let getYear = getParam('ano');
    let getMonth = getParam('mes');

    if (getYear != null && getMonth != null) {
        $("#select-control").val(getMonth);
    } else {
        $("#select-control").val('hoje');
    }
</script>

{% endcompress %}
{% endblock %}


{% block content %}
<div id="financial-sales" class="container-fluid fz14">

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 mb-xs-6 nopad">
            <h4 id="teste" class="page-title">Meus Ganhos</h4>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 mb-xs-6 push-right">
            <div class="form-group form-margin--top">
                <select id="select-control" class="form-control form-control--mid-width form-control--select">
                    <option value="hoje">Hoje</option>
                    {% for periodo in sales.periodos %}
                    <option value="{{periodo.mes}}">{{periodo.mes|capfirst}} {{periodo.ano}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 mb-xs-15 nopad">
            <h5 class="normal-text text-light-gray roboto-light">Número de vendas</h5>
            <p class="subtitle">{{sales.resumo.quantidade}}</p>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 mb-xs-15 nopad">
            <h5 class="normal-text text-light-gray roboto-light">Total Liquido</h5>
            <p class="subtitle">{{sales.resumo.valor_liquido|fmt_money}}</p>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 mb-xs-15 nopad">
            <h5 class="normal-text text-light-gray roboto-light">Total Bruto</h5>
            <p class="subtitle">{{sales.resumo.valor_bruto|fmt_money}}</p>
        </div>
    </div>

    <div class="row">
        <table class="table">
            <tr class="table--only-bottom-border">
                <th class="small-text--light bold">Data</th>
                <th class="small-text--light bold">Núm. da venda</th>
                <th class="small-text--light bold">Cliente</th>
                <th></th>
                <th class="small-text--light bold">Valor Liquido</th>
            </tr>
            {% for sale in sales.data %}
            <tr data-toggle="modal" data-target="#myModal{{sale.id}}">
                <td class="text-light-gray">{{sale.data_criacao|fmt_date}}</td>
                <td class="text-light-gray">{{sale.id}}</td>
                <td class="bold">{{sale.cliente}}</td>
                {% if sale.forma_pagamento == 1 %}
                <td><span class="label label--money">Dinheiro</span></td>
                {% else %}
                <td><span class="label label--credit-card">Cartão de Crédito</span></td>
                {% endif %}
                <td class="bold">{{sale.valor_liquido|fmt_money}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% for sale in sales.data %}
    <div class="modal fade" id="myModal{{sale.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{sale.data_criacao|fmt_date}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="subtitle text-light-gray">Número da venda</h4>
                            <p>{{sale.id}}</p>
                        </div>
                        <div class="col-md-4">
                            <h4 class="subtitle text-light-gray">Pagamento</h4>
                            {% if sale.forma_pagamento == 1 %}
                            <span class="label label--money">Dinheiro</span>
                            {% else %}
                            <span class="label label--credit-card">Cartão de Crédito</span>
                            {% endif %}
                        </div>
                        <div class="col-md-4 push-right">
                            <h4 class="subtitle text-light-gray">Valor Liquido</h4>
                            <p>{{sale.valor_liquido|fmt_money}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="subtitle text-light-gray">Detalhes do faturamento</h4>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table">
                            <tr data-toggle="modal" data-target="#myModal">
                                <td class="text-light-black">Valor Bruto</td>
                                <td class="text-bold text-black push-right">{{sale.valor_bruto|fmt_money}}</td>
                            </tr>
                            <tr data-toggle="modal" data-target="#myModal">
                                <td class="text-light-black">Taxa adm. do cartão</td>
                                <td class="text-bold text-pink push-right">- {{sale.valor_comissao_administradora|fmt_money}}</td>
                            </tr>
                            <tr data-toggle="modal" data-target="#myModal">
                                <td class="text-light-black">Comissão</td>
                                <td class="text-bold text-pink push-right">- {{sale.valor_comissao_thefarma|fmt_money}}</td>
                            </tr>
                            <tr data-toggle="modal" data-target="#myModal">
                                <td class="text-bold">Total</td>
                                <td class="text-bold push-right">{{sale.valor_liquido|fmt_money}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{%endblock%}