{% extends  "layouts/admin-v2.html" %}

{% load compress %}
{% load staticfiles %}
{% load helper %}


{% block content %}
<div id="financial-sales" class="container-fluid fz14">

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 mb-xs-6 nopad">
            <h4 class="page-title">Meus Ganhos</h4>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 mb-xs-6 push-right">
            <div class="form-group form-margin--top">
                <select class="form-control form-control--mid-width form-control--select">
                    <option>Hoje</option>
                    <!-- <option>Novembro 2018</option>
                    <option>Setembro 2018</option>
                    <option>Outubro 2018</option> -->
                </select>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2 mb-xs-15 nopad">
                <h5 class="normal-text text-light-gray">Numero de vendas</h5>
                <p class="subtitle">{{sales.resumo.quantidade}}</p>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 mb-xs-15 nopad">
                <h5 class="normal-text text-light-gray">Total Liquido</h5>
                <p class="subtitle">{{sales.resumo.valor_liquido|fmt_money}}</p>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 mb-xs-15 nopad">
                <h5 class="normal-text text-light-gray">Total Bruto</h5>
                <p class="subtitle">{{sales.resumo.valor_bruto|fmt_money}}</p>
            </div>
        </div>

    <div class="row">
        <table class="table">
            <tr class="table--only-bottom-border">
                <th class="small-text--light">Data</th>
                <th class="small-text--light">Núm. da venda</th>
                <th class="small-text--light">Cliente</th>
                <th></th>
                <th class="small-text--light">Valor Liquido</th>
            </tr>
            {% for sale in sales.data %}
            <tr>
                <td class="text-light-gray">{{sale.data_criacao|fmt_date}}</td>
                <td class="text-light-gray">{{sale.id}}</td>
                <td>{{sale.cliente}}</td>
                {% if sale.forma_pagamento == 1 %}
                <td><span class="label label--money">Dinheiro</span></td>
                {% else %}
                <td><span class="label label--credit-card">Cartão de Crédito</span></td>
                {% endif %}
                <td>{{sale.valor_liquido|fmt_money}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{%endblock%}