{% load compress %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="description" content="Farma">
    <meta name="keywords" content="Farma">
    <meta name="author" content="TheFarma">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>The Farma</title>
    {% compress css %}
    <link rel="stylesheet" media="all" href="{% static "stylesheets/admin.scss" %}" data-turbolinks-track="reload"
        type="text/x-sass" />
    {% endcompress %}

    {% block styles %}{% endblock %}
    <script type="text/javascript">
        
        var url_socket = '{{ request.session.websocket_url }}';
        var socket;
    </script>
</head>

<body>
    <header>
        <div class="masthead container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <h3 class="white-text mg-top-24">{{ header_name }}</h3>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="{% url 'sales_path' %}">
                                <i class="tfc tfc-home"></i>
                                Home
                            </a>
                        </li>
    
                        <li class="dropdown report-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="tfc tfc-clipboard"></i>
                                Relatórios
                            </a>
                            <ul class="dropdown-menu text-left" aria-labelledby="dropdownMenu1">
                                <li><a href="{% url 'financial_path'%}">Faturamentos</a></li>
                                <li><a href="{% url 'financial_sales'%}">Minhas Vendas</a></li>
                                <li><a href="{% url 'reports_sales_path'%}">Medicamentos vendidos</a></li>
                                <li><a href="{% url 'reports_more_search_path'%}">Medicamentos mais pesquisados</a></li>
                            </ul>
                        </li>
    
                        <li>
                            <a href="{% url 'products_path'%}" class="hidden">
                                <i class="tfc tfc-archive"></i>
                                Produtos
                            </a>
                        </li>
    
                        <li>
                            <a href="{% url 'financial_path'%}">
                                <i class="tfc tfc-shopping-bag"></i>
                                Financeiro
                            </a>
                        </li>
                    <li class="active">
                        <a href="{% url 'account_path'%}">
                            <i class="tfc tfc-account"></i>
                            Minha conta
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="tfc tfc-logout"></i>
                            Sair
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </header>

    <main id="container">
        <div class="container">
            <div class="row">
                <div id="flash" class="col-xs-12 col-sm-12 col-md-12">
                    {% block message%}
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="wrapper">
            {% block content%}
            {% endblock %}
        </div>
        {% block rs_cards%}
        {% endblock %}
        <span id="audio" class="hidden"></span>
    </main>

    <div class="alert alert-custom alert-dismissable alert-info" style="display:none;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="body">Novo pedido encontrado.</span>
        <strong><a class="title" href="/admin/sales">#000</a></strong>
    </div>

    <audio src="/static/sounds/sound.ogg" style="display: none;">
        <p>Seu navegador não suporta o elemento audio </p>
    </audio>

    {% compress js %}
    <script type="text/javascript" src="{% static "plugins/jQuery/jquery-1.12.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "plugins/bootstrap/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "plugins/propeller/propeller.min.js" %}"></script>
    <script type="text/javascript" src="{% static "plugins/jquery-inputmask/jquery.inputmask.bundle.min.js" %}"></script>
    <script type="text/javascript" src="{% static "plugins/jquery-maskMoney/jquery.maskMoney.min.js" %}"></script>

    <script type="text/javascript">
        var TheFarma = {
            notificar: function () {
                if (Notification.permission !== "granted") {
                    Notification.requestPermission();
                } else {
                    var notification = new Notification('The Farma', {
                        icon: 'http://farmacia.thefarma.com.br/static/images/icon.png',
                        body: "Novo pedido encontrado.",
                    });

                    notification.onclick = function () {
                        window.open("http://farmacia.thefarma.com.br/admin/sales");
                    };
                }
            },
            playSound: function () {
                var audio = document.getElementsByTagName("audio")[0];
                audio.loop = false;
                var playPromise = audio.play();
                if (playPromise !== undefined) {
                    playPromise.then(_ => {
                    // Automatic playback started!
                    // Show playing UI.
                        console.log("Play Notification!");
                    })
                    .catch(error => {
                        // Auto-play was prevented
                        // Show paused UI.
                        console.log("Error Notification!:", error);
                    });
                }
            }
        }

        $(window).load(function () {
            //Notificações
            document.addEventListener('DOMContentLoaded', function () {
                if (!Notification) {
                    alert('Desktop notifications not available in your browser. Try Chromium.');
                    return;
                }
                if (Notification.permission !== "granted") {
                    Notification.requestPermission();
                }
            });
        })
    </script>

    <script type="text/javascript" src="{% static "javascripts/admin.js" %}"></script>
    {% endcompress %}
    {% block scripts %}{% endblock %}
</body>

</html>