.idea/*
*.pyc
*.ini
*.sqlite3
*.cpython
bin/*
logs/*
staticfiles/*
media/*
app/__pycache__/
app/management/__pycache__/
app/management/commands/__pycache__/
app/migrations/__pycache__/
app/mixins/__pycache__/
app/models/__pycache__/
app/utils/__pycache__/
app/views/__pycache__/
static/sass/
thefarmasite/__pycache__/
static/CACHE
*.sublime-project
node_modules/
package-lock.json
.vscode/*
/thefarmaclient
**.DS_Store
/venv_cliente
.env