{% extends  "layouts/admin.html" %}

{% load compress %}
{% load staticfiles %}

{% block styles %}
{% compress css %}
<!--<link rel="stylesheet" media="all" href="{% static "plugins/OwlCarousel2/owl.carousel.min.css" %}" data-turbolinks-track="reload" type="text/x-sass" />-->
{% endcompress %}
{% endblock %}

{% block scripts %}
{% compress js %}
<!--<script type="text/javascript" src="{% static "javascripts/site/home.js" %}"></script>-->
{% endcompress %}
{% endblock %}

{% block content %}
<div id="home" class="container-fluid mt32 fz14 no-padding-xs">

	<div class="row row01 mb32 no-margin-xs">
		<div class="col-xs-12 col-sm-4 col-md-4 mb-xs-15">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title pink-text">O QUE EU VENDI</h4>
				</div>

				<div class="card-body">
					<div class="row mb10">
						<div class="col-xs-12 col-sm-12 col-md-4 pr0">
							12/07/2017
						</div>

						<div class="col-xs-12 col-sm-12 col-md-8">
							<div class="row">
								<div class="col-xs-5 col-sm-6 col-md-5 semibold pr0">
									Bruto
								</div>

								<div class="col-xs-7 col-sm-6 col-md-7 text-right semibold bold pl0">
									R$ 9.999,00
								</div>
							</div>

							<div class="row">
								<div class="col-xs-5 col-sm-6 col-md-5 semibold pr0">
									Líquido
								</div>

								<div class="col-xs-7 col-sm-6 col-md-7 text-right semibold bold pl0">
									R$ 9.999,00
								</div>
							</div>
						</div>
					</div>

					<div class="row mb10">
						<div class="col-xs-12 col-sm-12 col-md-4 pr0">
							12/07/2017
						</div>

						<div class="col-xs-12 col-sm-12 col-md-8">
							<div class="row">
								<div class="col-xs-5 col-sm-6 col-md-5 semibold pr0">
									Bruto
								</div>

								<div class="col-xs-7 col-sm-6 col-md-7 text-right semibold bold pl0">
									R$ 9.999,00
								</div>
							</div>

							<div class="row">
								<div class="col-xs-5 col-sm-6 col-md-5 semibold pr0">
									Líquido
								</div>

								<div class="col-xs-7 col-sm-6 col-md-7 text-right semibold bold pl0">
									R$ 9.999,00
								</div>
							</div>
						</div>
					</div>

					<div class="row mb10">
						<div class="col-xs-12 col-sm-12 col-md-4 pr0">
							12/07/2017
						</div>

						<div class="col-xs-12 col-sm-12 col-md-8">
							<div class="row">
								<div class="col-xs-5 col-sm-6 col-md-5 semibold pr0">
									Bruto
								</div>

								<div class="col-xs-7 col-sm-6 col-md-7 text-right semibold bold pl0">
									R$ 9.999,00
								</div>
							</div>

							<div class="row">
								<div class="col-xs-5 col-sm-6 col-md-5 semibold pr0">
									Líquido
								</div>

								<div class="col-xs-7 col-sm-6 col-md-7 text-right semibold bold pl0">
									R$ 9.999,00
								</div>
							</div>
						</div>
					</div>

					<div class="row mb10">
						<div class="col-xs-12 col-sm-12 col-md-4 pr0">
							12/07/2017
						</div>

						<div class="col-xs-12 col-sm-12 col-md-8">
							<div class="row">
								<div class="col-xs-5 col-sm-6 col-md-5 semibold pr0">
									Bruto
								</div>

								<div class="col-xs-7 col-sm-6 col-md-7 text-right semibold bold pl0">
									R$ 9.999,00
								</div>
							</div>

							<div class="row">
								<div class="col-xs-5 col-sm-6 col-md-5 semibold pr0">
									Líquido
								</div>

								<div class="col-xs-7 col-sm-6 col-md-7 text-right semibold bold pl0">
									R$ 9.999,00
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="card-footer no-padding">
					<button class="btn btn-pink btn-flat btn-block btn-lg semibold">
						VER DETALHES
					</button>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4 col-md-4 mb-xs-15">
			<div class="card">
				<div class="card-header">
					<h2 class="card-title pink-text">O QUE EU RECEBI</h2>
				</div>

				<div class="card-body">
					<div class="row mb10">
						<div class="col-xs-12 col-sm-12 col-md-4 pr0">
							12/07/2017
						</div>

						<div class="col-xs-12 col-sm-12 col-md-8">
							<div class="row">
								<div class="col-xs-5 col-sm-6 col-md-5 semibold pr0">
									Bruto
								</div>

								<div class="col-xs-7 col-sm-6 col-md-7 text-right semibold bold pl0">
									R$ 9.999,00
								</div>
							</div>

							<div class="row">
								<div class="col-xs-5 col-sm-6 col-md-5 semibold pr0">
									Líquido
								</div>

								<div class="col-xs-7 col-sm-6 col-md-7 text-right semibold bold pl0">
									R$ 9.999,00
								</div>
							</div>
						</div>
					</div>

					<div class="row mb10">
						<div class="col-xs-12 col-sm-12 col-md-4 pr0">
							12/07/2017
						</div>

						<div class="col-xs-12 col-sm-12 col-md-8">
							<div class="row">
								<div class="col-xs-5 col-sm-6 col-md-5 semibold pr0">
									Bruto
								</div>

								<div class="col-xs-7 col-sm-6 col-md-7 text-right semibold bold pl0">
									R$ 9.999,00
								</div>
							</div>

							<div class="row">
								<div class="col-xs-5 col-sm-6 col-md-5 semibold pr0">
									Líquido
								</div>

								<div class="col-xs-7 col-sm-6 col-md-7 text-right semibold bold pl0">
									R$ 9.999,00
								</div>
							</div>
						</div>
					</div>

					<div class="row mb10">
						<div class="col-xs-12 col-sm-12 col-md-4 pr0">
							12/07/2017
						</div>

						<div class="col-xs-12 col-sm-12 col-md-8">
							<div class="row">
								<div class="col-xs-5 col-sm-6 col-md-5 semibold pr0">
									Bruto
								</div>

								<div class="col-xs-7 col-sm-6 col-md-7 text-right semibold bold pl0">
									R$ 9.999,00
								</div>
							</div>

							<div class="row">
								<div class="col-xs-5 col-sm-6 col-md-5 semibold pr0">
									Líquido
								</div>

								<div class="col-xs-7 col-sm-6 col-md-7 text-right semibold bold pl0">
									R$ 9.999,00
								</div>
							</div>
						</div>
					</div>

					<div class="row mb10">
						<div class="col-xs-12 col-sm-12 col-md-4 pr0">
							12/07/2017
						</div>

						<div class="col-xs-12 col-sm-12 col-md-8">
							<div class="row">
								<div class="col-xs-5 col-sm-6 col-md-5 semibold pr0">
									Bruto
								</div>

								<div class="col-xs-7 col-sm-6 col-md-7 text-right semibold bold pl0">
									R$ 9.999,00
								</div>
							</div>

							<div class="row">
								<div class="col-xs-5 col-sm-6 col-md-5 semibold pr0">
									Líquido
								</div>

								<div class="col-xs-7 col-sm-6 col-md-7 text-right semibold bold pl0">
									R$ 9.999,00
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="card-footer no-padding">
					<button class="btn btn-pink btn-flat btn-block btn-lg semibold">
						VER DETALHES
					</button>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4 col-md-4 mb-xs-15">
			<div class="card">
				<div class="card-header">
					<h2 class="card-title pink-text">O QUE EU RECEBEREI</h2>
				</div>

				<div class="card-body">
					<div class="row mb10">
						<div class="col-xs-12 col-sm-12 col-md-4 pr0">
							12/07/2017
						</div>

						<div class="col-xs-12 col-sm-12 col-md-8">
							<div class="row">
								<div class="col-xs-5 col-sm-6 col-md-5 semibold pr0">
									Bruto
								</div>

								<div class="col-xs-7 col-sm-6 col-md-7 text-right semibold bold pl0">
									R$ 9.999,00
								</div>
							</div>

							<div class="row">
								<div class="col-xs-5 col-sm-6 col-md-5 semibold pr0">
									Líquido
								</div>

								<div class="col-xs-7 col-sm-6 col-md-7 text-right semibold bold pl0">
									R$ 9.999,00
								</div>
							</div>
						</div>
					</div>

					<div class="row mb10">
						<div class="col-xs-12 col-sm-12 col-md-4 pr0">
							12/07/2017
						</div>

						<div class="col-xs-12 col-sm-12 col-md-8">
							<div class="row">
								<div class="col-xs-5 col-sm-6 col-md-5 semibold pr0">
									Bruto
								</div>

								<div class="col-xs-7 col-sm-6 col-md-7 text-right semibold bold pl0">
									R$ 9.999,00
								</div>
							</div>

							<div class="row">
								<div class="col-xs-5 col-sm-6 col-md-5 semibold pr0">
									Líquido
								</div>

								<div class="col-xs-7 col-sm-6 col-md-7 text-right semibold bold pl0">
									R$ 9.999,00
								</div>
							</div>
						</div>
					</div>

					<div class="row mb10">
						<div class="col-xs-12 col-sm-12 col-md-4 pr0">
							12/07/2017
						</div>

						<div class="col-xs-12 col-sm-12 col-md-8">
							<div class="row">
								<div class="col-xs-5 col-sm-6 col-md-5 semibold pr0">
									Bruto
								</div>

								<div class="col-xs-7 col-sm-6 col-md-7 text-right semibold bold pl0">
									R$ 9.999,00
								</div>
							</div>

							<div class="row">
								<div class="col-xs-5 col-sm-6 col-md-5 semibold pr0">
									Líquido
								</div>

								<div class="col-xs-7 col-sm-6 col-md-7 text-right semibold bold pl0">
									R$ 9.999,00
								</div>
							</div>
						</div>
					</div>

					<div class="row mb10">
						<div class="col-xs-12 col-sm-12 col-md-4 pr0">
							12/07/2017
						</div>

						<div class="col-xs-12 col-sm-12 col-md-8">
							<div class="row">
								<div class="col-xs-5 col-sm-6 col-md-5 semibold pr0">
									Bruto
								</div>

								<div class="col-xs-7 col-sm-6 col-md-7 text-right semibold bold pl0">
									R$ 9.999,00
								</div>
							</div>

							<div class="row">
								<div class="col-xs-5 col-sm-6 col-md-5 semibold pr0">
									Líquido
								</div>

								<div class="col-xs-7 col-sm-6 col-md-7 text-right semibold bold pl0">
									R$ 9.999,00
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="card-footer no-padding">
					<button class="btn btn-pink btn-flat btn-block btn-lg semibold">
						VER DETALHES
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row row02 mb32 no-margin-xs">
		<div class="col-xs-12 col-sm-12 col-md-12 mb-xs-15">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title pink-text">O MEU REDIMENTO</h4>
				</div>

				<div class="card-content">
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}