{% extends  "layouts/admin.html" %}

{% load compress %}
{% load staticfiles %}
{% load helper %}

{% block scripts %}
{% compress js %}
<script type="text/javascript" src="{% static "plugins/chartjs/chartjs.min.js" %}"></script>

<script type="text/javascript">
	$(function(){

		Chart.pluginService.register({
			afterDraw: function(chartInstance) {
				var ctx = chartInstance.chart.ctx;
				ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontFamily, 'normal', Chart.defaults.global.defaultFontFamily);
				ctx.fillStyle = '#444';
				ctx.textAlign = 'center';
				ctx.textBaseline = 'bottom';
				chartInstance.data.datasets.forEach(function (dataset) {
					for (var i = 0; i < dataset.data.length; i++) {
						var model = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._model;
						ctx.fillText(dataset.data[i], model.x, model.y - 2);
					}
				});
			}
		});
		
		var ctx1 = document.getElementById("rendimento").getContext("2d");
		var data1 = {
			type: 'bar',
			data: {
				labels : [{% for label in financeiro.rendimentos.labels %}"{{ label }}",{% endfor %}],//["JANEIRO","FEVEREIRO","MARÇO","ABRIL", "MAIO", "JUNHO", "JULHO"],
				datasets : [{
					label: "Rendimento R$",
					backgroundColor: '#7ED321',
					borderWidth: 1,
					data : {{ financeiro.rendimentos.values }} //[0, 1000, 2000, 3000, 4000, 5000, 6000, 7000]
				}]
			},
			options: {
				responsive: true,
				bezierCurve: false,
				legend: {display: false},
				scales: {
					xAxes: [{gridLines: {display:false}}],
					yAxes: [{gridLines: {display:false}}]
				},
				responsive: true,
				maintainAspectRatio: false
			},
		};
		chart1 = new Chart(ctx1, data1);
	})
</script>

<script type="text/javascript">
	$( "#rendimento" ).click(function() {
		let baseURL = window.location.origin + window.location.pathname;
		var formatedURL = baseURL + '/sales/' + '?mes=' + '{{ultima_data.mes}}' + '&ano=' + '{{ultima_data.ano}}';
		window.location.replace(formatedURL);
	});

	$( "#rendimento" ).hover(function() {
		$( "#rendimento" ).css("cursor", "pointer");
	});
</script>
{% endcompress %}
{% endblock %}

{% block content %}
<div id="financial-dashboard" class="container mt32 fz14 no-padding-xs">

	<div class="row row01 mb32 no-margin-xs">
		<div class="col-xs-12 col-sm-6 col-md-6 mb-xs-15">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title black-text">Vendas de hoje</h4>
					<hr>
				</div>

				<div class="card-body low-height">
					<div class="row center-block">
						{% if financeiro.vendas_hoje %}
						<div class="col-xs-6 col-sm-6 col-md-6 border-right">
							{% if financeiro.vendas_hoje.liquido %}
							<span class="financial-value">{{financeiro.vendas_hoje.liquido|fmt_money}}</span>
							{% else %}
							<span class="financial-value">R$ 0,00</span>
							{% endif %}
							<p class="card-description text-gray">Líquido</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 border-left">
							{% if financeiro.vendas_hoje.bruto %}
							<span class="financial-value">{{financeiro.vendas_hoje.bruto|fmt_money}}</span>
							{% else %}
							<span class="financial-value">R$ 0,00</span>
							{% endif %}
							<p class="card-description text-gray">Bruto</p>
						</div>
						{% else %}
						<div class="col-xs-6 col-sm-6 col-md-6 border-right">
							<span class="financial-value">R$ 0,00</span>
							<p class="card-description text-gray">Líquido</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 border-left">
							<span class="financial-value">R$ 0,00</span>
							<p class="card-description text-gray">Bruto</p>
						</div>
						{% endif %}
					</div>
				</div>

				<div class="card-footer">
					<a href="{% url 'financial_sales' %}" class="black-text">
						Ver detalhes
					</a>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 mb-xs-15">
			<div class="card">
				<div class="card-header">
					{% if financeiro.conta_atual.tipo == 0 %}
					<h4 class="card-title black-text">Valor a receber</h4>
					{% else %}
					<h4 class="card-title black-text">Valor a pagar</h4>
					{% endif %}
					<hr>
				</div>

				{% if financeiro.conta_atual.valor_total %}
				<div class="card-body low-height">
					<div class="row center-block">
						<span class="financial-value">{{financeiro.conta_atual.valor_total|fmt_money}}</span>
					</div>
				</div>
				{% else %}
				<div class="card-body low-height">
					<div class="row center-block">
						<span class="financial-value">R$ 0,00</span>
					</div>
				</div>
				{% endif %}
				<div class="card-footer">
					<span class="left text-light-gray">Vencimento: {{financeiro.conta_atual.data_vencimento|date_api}}</span>
					<a href="{% url 'financial_billing' %}?id={{financeiro.conta_atual.id}}" class="black-text">
						Ver detalhes
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row row02 mb32 no-margin-xs">
		<div class="col-xs-12 col-sm-12 col-md-12 mb-xs-15">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title black-text">Meus Ganhos</h4>
					<hr>
				</div>

				<div class="card-content p15">
					<canvas id="rendimento" height="180"></canvas>
				</div>
			</div>
		</div>
	</div>

	<div class="row row02 mb32 no-margin-xs">
		<div class="col-xs-12 col-sm-12 col-md-12 mb-xs-15">
			<div class="card with-padding">
				<div class="card-header">
					<h4 class="card-title black-text">Faturamentos</h4>
					<hr>
				</div>

				<div class="card-content top-padding">
					<table class="table table-hover">
						{% for conta in financeiro.contas %}
						<tr onclick="window.location='{% url 'financial_billing' %}?id={{conta.id}}';">
							<td class="text-gray text-left">{{conta.data_vencimento|date_api}}</td>

							{% if conta.tipo == 0 %}
							<td class="text-danger">{{conta.valor_total|fmt_money}}</td>
							{% else %}
							<td>R$ {{conta.valor_total}}</td>
							{% endif %}

                            <td class="text-right">
							{% if conta.status == 0 %}
							<span class="label label--success">Aberta</span>
							{% elif conta.status == 1 %}
							<span class="label label--success">Fechada</span>
							{% elif conta.status == 2 %}
							<span class="label label--success">Paga</span>
							{% elif conta.status == 3 %}
							<span class="label label--danger">Atrasada</span>
							{% elif conta.status == 4 %}
							<span class="label label--danger">Cancelada</span>
                            {% endif %}
                            </td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}