{% extends  "layouts/admin.html" %}

{% load compress %}
{% load staticfiles %}
{% load helper %}

{% block styles %}
{% compress css %}
<!--<link rel="stylesheet" media="all" href="{% static "plugins/OwlCarousel2/owl.carousel.min.css" %}" data-turbolinks-track="reload" type="text/x-sass" />-->
{% endcompress %}
{% endblock %}

{% block scripts %}
{% compress js %}
<script type="text/javascript" src="{% static "plugins/chartjs/chartjs.min.js" %}"></script>
<script type="text/javascript">
	$(function(){

		Chart.pluginService.register({
			afterDraw: function(chartInstance) {
				var ctx = chartInstance.chart.ctx;
				ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontFamily, 'normal', Chart.defaults.global.defaultFontFamily);
				ctx.fillStyle = '#444';
				ctx.textAlign = 'center';
				ctx.textBaseline = 'bottom';
				chartInstance.data.datasets.forEach(function (dataset) {
					for (var i = 0; i < dataset.data.length; i++) {
						var model = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._model;
						ctx.fillText(dataset.data[i], model.x, model.y - 2);
					}
				});
			}
		});
		
		var ctx1 = document.getElementById("rendimento").getContext("2d");
		var data1 = {
			type: 'bar',
			data: {
				labels : [{% for label in financeiro.rendimentos.labels %}"{{ label }}",{% endfor %}],//["JANEIRO","FEVEREIRO","MARÇO","ABRIL", "MAIO", "JUNHO", "JULHO"],
				datasets : [{
					label: "Rendimento R$",
					backgroundColor: '#E91E63',
					borderWidth: 1,
					data : {{ financeiro.rendimentos.values }} //[0, 1000, 2000, 3000, 4000, 5000, 6000, 7000]
				}]
			},
			options: {
				responsive: true,
				bezierCurve: false,
				legend: {display: false},
				scales: {
					xAxes: [{gridLines: {display:false}}],
					yAxes: [{gridLines: {display:false}}]
				},
				responsive: true,
				maintainAspectRatio: false
			},
		};
		chart1 = new Chart(ctx1, data1);
	})
</script>
{% endcompress %}
{% endblock %}

{% block content %}
<div id="financial-dashboard" class="container-fluid mt32 fz14 no-padding-xs">

	<div class="row row01 mb32 no-margin-xs">
		<div class="col-xs-12 col-sm-6 col-md-6 mb-xs-15">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title black-text">Vendas de hoje</h4>
					<hr>
				</div>

				<div class="card-body low-height">
					<div class="row center-block">
						{% if financeiro.vendas_hoje %}
						<div class="col-xs-6 col-sm-6 col-md-6 border-right">
							{% if financeiro.vendas_hoje.liquido %}
							<span class="financial-value">R$ {{financeiro.vendas_hoje.liquido}}</span>
							{% else %}
							<span class="financial-value">R$ 0,00</span>
							{% endif %}
							<p class="card-description text-gray">Líquido</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 border-left">
							{% if financeiro.vendas_hoje.bruto %}
							<span class="financial-value">R$ {{financeiro.vendas_hoje.bruto}}</span>
							{% else %}
							<span class="financial-value">R$ 0,00</span>
							{% endif %}
							<p class="card-description text-gray">Bruto</p>
						</div>
						{% else %}
						<div class="col-xs-6 col-sm-6 col-md-6 border-right">
							<span class="financial-value">R$ 0,00</span>
							<p class="card-description text-gray">Líquido</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 border-left">
							<span class="financial-value">R$ 0,00</span>
							<p class="card-description text-gray">Bruto</p>
						</div>
						{% endif %}
					</div>
				</div>

				<div class="card-footer">
					<a href="#" class="black-text">
						Ver detalhes
					</a>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 mb-xs-15">
			<div class="card">
				<div class="card-header">
					{% if financeiro.conta_atual.tipo == 0 %}
					<h4 class="card-title black-text">Valor a pagar</h4>
					{% else %}
					<h4 class="card-title black-text">Valor a receber</h4>
					{% endif %}
					<hr>
				</div>

				{% if financeiro.conta_atual.valor_total %}
				<div class="card-body low-height">
					<div class="row center-block">
						<span class="financial-value">R$ {{financeiro.conta_atual.valor_total}}</span>
					</div>
				</div>

				<div class="card-footer">

					<a href="#" class="black-text">
						Ver detalhes
					</a>
				</div>
				{% else %}
				<div class="card-body low-height">
						<div class="row center-block">
							<span class="financial-value">R$ 0,00</span>
						</div>
					</div>
	
					<div class="card-footer">
						<span class="left">Vencimento: -</span>
						<a href="#" class="black-text">
							Ver detalhes
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="row row02 mb32 no-margin-xs">
		<div class="col-xs-12 col-sm-12 col-md-12 mb-xs-15">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title black-text">Meus Ganhos</h4>
				</div>

				<div class="card-content p15">
					<canvas id="rendimento" height="180"></canvas>
				</div>
			</div>
		</div>
	</div>

	<div class="row row02 mb32 no-margin-xs">
		<div class="col-xs-12 col-sm-12 col-md-12 mb-xs-15">
			<div class="card with-padding">
				<div class="card-header">
					<h4 class="card-title black-text">Faturamentos</h4>
				</div>

				<div class="card-content top-padding">
					<table class="table table-hover">
						{% for conta in financeiro.contas %}
						<tr>
							<td class="text-gray">{{conta.data_vencimento|date_api}}</td>

							{% if conta.tipo == 0 %}
							<td class="text-danger">R$ {{conta.valor_total}}</td>
							{% else %}
							<td>R$ {{conta.valor_total}}</td>
							{% endif %}
							
							{% if conta.status == 0 %}
							<td><span class="label label-warning">Aberta</span></td>
							{% elif conta.status == 1 %}
							<td><span class="label label-success">Paga</span></td>
							{% elif conta.status == 2 %}
							<td><span class="label label-danger">Atrasada</span></td>
							{% elif conta.status == 3 %}
							<td><span class="label label-danger">Cancelada</span></td>
							{% endif %}
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}